name: ML CI/CD with Docker Hub

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-train-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.9"

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Train model
      run: |
        python src/train.py
        echo "MODEL_VERSION=$(cat artifacts/latest.txt)" >> $GITHUB_ENV

    - name: Evaluate model
      run: python src/evaluate.py

    - name: Semantic Release
      uses: python-semantic-release/python-semantic-release@v9
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}


    - name: Build Docker image
      run: |
        docker build \
          -t ${{ secrets.DOCKERHUB_USERNAME }}/ml-model:${{ env.MODEL_VERSION }} \
          -t ${{ secrets.DOCKERHUB_USERNAME }}/ml-model:latest \
          .

    - name: Login to Docker Hub
      run: |
        echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login \
          -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

    - name: Push image to Docker Hub
      run: |
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/ml-model:${{ env.MODEL_VERSION }}
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/ml-model:latest

